.features {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  padding: 2rem 0;
  width: 100%;
  flex-wrap: wrap; /* Если элементов много, они будут обтекаться */
}

.featureSvg {
  max-width: 100%; /* Ограничиваем ширину изображения по ширине родительского элемента */
  height: auto; /* Высота будет автоматически подстраиваться для сохранения пропорций */
  transition: none; /* Отключаем любые переходы при наведении */
}

.featureSvg:hover {
  transform: none; /* Отключаем любые трансформации при наведении */
}

.text--center h3 {
  font-size: 2.25rem; /* Увеличиваем размер заголовка */
}

.text--center p {
  font-size: 1.25rem; /* Увеличиваем размер текста */
}
